/* Genel stil ayarları */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

/* Sayfa stil ayarları */
body {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    min-height: 100vh;
    background: url(bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

/* Form stil ayarları */
.formTask {
    width: 700px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: whitesmoke;
    border-radius: 12px;
    padding: 20px 40px;
}

/* Başlık stil ayarları */
.formTask h1 {
    font-size: 46px;
    text-align: center;
    font-family: "Cairo Play", sans-serif;
}

/* Input kutusu stil ayarları */
.formTask .inputBox {
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: whitesmoke;
    padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder {
    color: whitesmoke;
}

/* Buton stil ayarları */
.formTask .bttn {
    width: 100%;
    height: 45px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: grey;
    font-weight: 600;
    margin: 5px;
}

/* Görev listesi stil ayarları */
#taskList {
    width: auto;
    height: 240px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: whitesmoke;
    border-radius: 12px;
    padding: 20px 40px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    font-size: 18px;
}

/* Tamamlanan görevlerin rengi */
.taskcompleted {
    color: green;
}

/* Tamamlanmamış görevlerin rengi */
.tasknotcompleted {
    color: #ff0000;
}

/* Filtre seçeneği stil ayarları */
#Filter {
    margin-left: 425px;
    margin-right: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: 14px;
    appearance: none;
}

/* Seçilen filtre seçeneğinin arka plan rengi */
#Filter option:checked {
    background-color: whitesmoke;
}

/* Filtreleme butonu stil ayarları */
#Fbttn {
    background-color: #3d8f40;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
}